
.divInfosArtigo {
    display: flex;
    background-color: darkslateblue;
    text-align: center;
    width: 50%;
    margin: 10px auto;
    border: 2px groove;
    border-radius: 5px;
}

.txtTitulo {
    margin: 2% auto;
    border-color: black;
    Width: 90%; 
    display: flex;
    resize: none;
    font-size: 15px;
    height: 80px;
    padding: 10px;
}


.txtDescricao {
    margin: 2% auto;
    border-color: black;
    resize: vertical;
    Width: 90%;
    Height: 100px;
    padding: 10px;
}



.labelInfo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}

.botaoFormulario {
    background-color: green;
    border-radius: 2px;
    font-family: 'Arial Rounded MT';
    padding: 4px;
    font-size: 20px;
    border-style: none;
}

    .botaoFormulario:hover {
        background-color: white;
        color: black;
        opacity: 0.6;
    }
