.divConteudo {
    background-color: darkslateblue;
    text-align: center;
    width: 50%;
    margin: 10px auto;
    border: 2px groove;
    border-radius: 5px;
}

/*PESQUISAR ARTIGO*/
.divPesquisaArtigo {
    background-color: green;
    width: 99%;
    margin-bottom: 3%;
    padding: 5px;
    border-radius: 5px;
}


.btnPesquisarArtigo {
    padding: 5px;
    background-color: gold;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-family: 'Rockwell Condensed';
}
    .btnPesquisarArtigo:hover {
        background-color: white;
        opacity: 0.5;
    }

.txtPesquisaArtigo {
    width: 30%;
    height: 25px;
    border-radius: 5px;
}

.divPlaceHolder {
    display: inline-block;
    margin: 10px auto;
    width: 90%;
    border-radius: 5px;
}

.lblTitulo {
    display: inline-block;
    color: white;
    word-wrap: break-word;
    font-size: 30px;
    text-align: center;
    margin-bottom: 6%;
    border-bottom: solid 1px;
    border-color: white;
    width: 95%;
    padding: 5px;
}

.lblDescricao {
    display: inline-block;
    color: white;
    word-wrap: break-word;
    font-size: 20px;
    background-color: black;
    text-align: justify;
    margin: 1%;
}

.lblDtCriacao {
    color: yellow;
}


.painelLabels {
    background-color: black;
    padding: 10px;
}


.painelDtCriacao {
    text-align: right;
    font-size: 15px;
}

.painelEspacador {
    background-color: darkslateblue;
    height: 25px;
}

