* {
    margin: 0 0 0 0px;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    background-color: forestgreen;
}


/*CABEÇALHO*/
.divCabecalho {
    display: flex;
    margin: 0 auto;
    padding: 5px;
    max-width: 100%;
    height: 110px;
    align-items: end;
    justify-content: end;
    background-image: url("/Imagens/Banner2.jpg");
}

.botoesMenu {
    display: flex;
    padding: 3px;
    margin-right: 8%;
}

.botaoCabecalho {
    Font-Size: 23px;
    background-color: green;
    border-radius: 3px;
    font-family: 'Rockwell Condensed';
    margin: 3px;
    border: 0px;
}

    .botaoCabecalho:hover {
        background-color: white;
        opacity: 0.5;
    }

.divLinhaDivisoria {
    border: 1.5px dashed;
    border-color: aqua;
}


/*INFORMACOES RETORNO*/
.divInformacaoRetorno {
    display: flex;
    background-color: yellow;
    margin: 0.2% auto;
    margin-bottom: 0;
    width: 98%;
    justify-content: space-between;
    font-family: 'Berlin Sans FB''Agency FB';
    font-weight: bold;
    border-radius: 2px;    
}

.sumarioArtigos {
    margin: 0 12px;
    padding: 5px;
    color: darkred;
}

.lblInformacaoRetorno {
    display: none;
    padding: 5px;
    color: darkgreen;
    margin: 0 12px;
}

.btnEsconderBarraInformacao {
    background-color: yellow;
    border: 0;
    border-radius: 10px;
    height: 2%;
    margin-right: 5px;
    display: none;
}

    .btnEsconderBarraInformacao:hover {
        background-color: powderblue;
        color: black;
    }


/*CENTRO*/
.centro {
    background-color: black;
    padding: 5px;
    margin: 0 auto;
    min-width: 320px;
    max-width: 100%;
}
