
.divInfosArtigo {
    display: flex;
    background-color: darkslateblue;
    text-align: center;
    width: 60%;
    margin: 10px auto;
    border: 2px outset;
    border-radius: 5px;
    border-color: palegreen;
}

.txtTitulo {
    margin: 2% auto;
    border-color: black;
    Width: 90%;
    resize: none;
    font-size: 15px;
    height: 20px;
    padding: 10px;
}


.txtDescricao {
    margin: 2% auto;
    border-color: black;
    resize: vertical;
    Width: 90%;
    min-height: 50px;
    padding: 10px;
}

.ddlCategorias {
    margin: 2% auto;
    Width: 50%;
    border: none;
    padding: 5px;
}

.labelInfo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}

.botaoFormulario {
    background-color: green;
    border-radius: 2px;
    font-family: 'Arial Rounded MT';
    padding: 4px;
    font-size: 20px;
    border-style: none;
    margin-top: 5%;
}

    .botaoFormulario:hover {
        background-color: white;
        color: black;
        opacity: 0.6;
    }
